@import './../../colors-system.scss';
.progress-bar {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  gap: 16px;
  width: 100%;

  &__person {
    grid-row: 2/3;
  }

  &__btn {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 30px;
  }
  
  &__procent {
    display: grid;
    align-items: center;
    gap: 8px;
    grid-template-columns: repeat(4, max-content);
  }

  .procent {

    &__text, &__number {
      font-size: 14px;
    }

    &__bar {
      width: 110px;
      height: 14px;
      background: #C4C4C4;
      border-radius: 12px;
      overflow: hidden;
    }

    &__default {
      width: 95%;
      height: 100%;
      background-color: #FD7623;
      border-radius: 12px;
    }

    &__finish {
      width: 100%;
      height: 100%;
      background-color: #12962F;
      border-radius: 12px;
    }
    
    &__icn {
      width: 25px;
      height: 25px;
      background-color: orange;
    }
  }

  &__person {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }

  &__person-name {
    font-weight: 600;
    font-size: 14px;
    color: $primary;
    margin-right: 8px;
  }

  &__person-text {
    font-size: 14px;
    line-height: 21px;
    margin-right: 8px;
  }

  &__person-procent {
    display: inline-block;
    width: 110px;
    height: 12px;
    background: #C4C4C4;
    border-radius: 12px;
    margin-right: 8px;

    div {
      width: 90%;
      height: 100%;
      background-color:  #FD7623;
      border-radius: 12px;
    }
  }

  &__person-hide {
    display: none;
  }
}