@import './../Progress-bar.scss';


.user-icons {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  align-items: center;
  gap: 16px;

  &__img {
    width: 32px;
  }

  &__active {
    width: 48px;
  }
  &__hide {
    display: none;
  }
}