@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #F9FAFF;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
