@import './../../../colors-system.scss';

.modal {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  grid-template-columns: minmax(100px, 800px);
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  color: $primary-medium;
  background-color: rgba(100, 100, 100, 0.3);
  z-index: 1;

  &.modal-active {
    display: grid;
  }
  
  &__wrap {
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 540px;
    background-color: $primary-white;
    box-shadow: 0px 37px 21px rgba(189, 189, 189, 0.3);
    border-radius: 6px;
    overflow: hidden;
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-content: center;
    height: 87px;
    padding: 28px 32px 28px 60px;
    color: white;
    background-color: #1E71FF;
    font-size: 18px;

    img {
      cursor: pointer;
    }
  }

  &__task-name {
    font-weight: bold;
  }

  &__main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
    align-content: start;
    padding: 45px;
  }

  &__description {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    align-self: end;
  }

  &__description-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
  }

  &__description-text {
    font-size: 14px;
    margin-bottom: 64px;
  }

  &__comment {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__comments-title {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
  }

  &__comment-text-wrap {
    display: grid;
    gap: 8px;
  }

  &__coment-name, &__coment-date {
    font-size: 14px;
  }

  &__coment-name {
    font-weight: 600;
  }

  &__coment-date {
    font-weight: 500;
    color: #939699;
  }

  &__input-wrap {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 16px;
  }

  &__text-area {
    height: 60px;
    width: 100%;
    padding: 10px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    resize: none;
    outline: none;
  }


  &__status {
    z-index: 1;
    display: grid;
    gap: 16px;
    grid-auto-rows: max-content;
    position: relative;
  }

  &__btn-position {
    z-index: 1;
    height: 58px;
  }
}
